.selectPayment {
    position: absolute;
    top: 40px;
    left: -20px;
}

.item {
    position: relative;
    min-width: 300px;

    input[type="text"] {
        min-width: 150px;
    }
}

.name {
    display: block;
}

.savedSum {
    display: inline-block;
    width: 100%;
    min-width: 150px;
    height: 39px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}