.obligatoryLabel {
    cursor: pointer;
}

.body input[type="text"] {
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: block;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(255,255,255,0.7);

    &.fade {
        display: none;
    }
}

.closeBtn {
    position: absolute;
    right: 15px;
}