// margins

._margin-top-30 {
    margin-top: 30px;
}

._margin-top-20 {
    margin-top: 20px;
}

._margin-right-20 {
    margin-right: 20px;
}

._margin-left-40 {
    margin-left: 40px;
}

// paddings
._padding-right-40 {
    padding-right: 40px;
}

._padding-left-10 {
    padding-left: 10px;
}

._padding-left-20 {
    padding-left: 20px;
}

._padding-left-40 {
    padding-left: 40px;
}

._padding-left-80 {
    padding-left: 80px;
}

// font-sizes
._f-s18 {
    font-size: 16px;
    line-height: 36px;
}

._halfWidth {
    width: 50%;
}

._fullWidth {
    width: 100%;
}

._width33 {
    width: 33%;
}

._relative {
    position: relative;
}

._displayFlex {
    display: flex;
}

._flexWrap {
    flex-wrap: wrap;
}