.NoteEditor {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 15px;
}

.NoteEditor__title, .NoteEditor__text, .NoteEditor__button, .NoteEditor__footer {
  width: 100%;
}

.NoteEditor__title, .NoteEditor__text, .NoteEditor__button {
  padding: 10px;
}

.NoteEditor__title, .NoteEditor__text {
  margin-bottom: 15px;
  border: none;
}

.NoteEditor__text {
  resize: none;
}

.NoteEditor__button {
  border-radius: 10px;
  background: #279a15;
  border: none;
  text-transform: uppercase;
  color: #fff;
}