.item {
  padding: 10px 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;

  &:hover {
    background-color: rgba(#fff, 0.1);
  }

  &:first-of-type {
    border-left: 1px solid #fff;
  }
}

.curMonth {
  background: rgba(#fff, 0.4);
}
