@import "./assets/styles/modificators";
@import "./assets/styles/reset";

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url("./images/bg_img.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    margin-bottom: 50px;
}

p,
ul {
    margin: 0;
    padding: 0;
}

h1.h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

input[type="text"],
input[type="number"] {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    min-width: 150px;
}

input[type="text"]:not(.datepicker),
input[type="number"] {
    padding: 10px;
}

.owl-left,
.owl-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.owl-left {
    left: 40px;
}

.owl-right {
    right: 40px;
}
