.arrow {
    padding-left: 10px;
}

.paymentDesc {
    padding: 10px;
    border-right: solid 1px rgba(0, 0, 0, 0.3);
    border-bottom: solid 1px rgba(0, 0, 0, 0.3);
    border-left: solid 1px rgba(0, 0, 0, 0.3);
}

.paymentDesc p {
    text-indent: 20px;
}