.Month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    padding: 0 20px 50px;
    -webkit-box-shadow: 0 2px 11px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 11px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: rgba(#fff, 0.95);
}

.monthName {
    width: 100%;
    text-align: center;
}

.mainWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.paymentColumn {
    min-width: 430px;
    padding-right: 40px;
    padding-left: 40px;
}

.calendar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 37px;
    margin: auto;
    padding: 10px;
}

.datepicker {
    padding: 10px 10px 10px 40px;
}

.mainPayments label,
.intermediatePayments label {
    display: block;
}

.monthCash {
    padding: 0 40px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.moneyDelta {
    padding: 20px 40px;
}

.moneyDeltaBlock {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.moneyDelta > div {
    padding: 20px 0;
}

.moneyDelta h3 {
    margin-top: 0;
}

.deltaSum {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intermediateDelta {
    padding-top: 20px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
}

.mainDelta p,
.intermediateDelta p {
    width: 100%;
}